@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "compass/css3";
html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-color:crimson;
  text-align: center;  /* fallback for old browsers */

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height:15rem;
    width: 18rem;
    background-color:white;
    color:black;
    margin: 50px;
    box-sizing: border-box;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 white;
  }
  img{
    width: 100%;
    height: 80%; 
    
    
  }
  .containn {
  font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
    display: flex;
    position: absolute; /* taken out of the normal flow of the document */
    top: 56%; /* moved down by 50% of the screen height */
    transform: translateY(-50%); /* moved back up (Y axis) by half of its height to achieve the perfect center */
    width: 100%; /* needs to be defined to keep the default block behavior */
    left: 20%;
    padding-bottom: 3px;
  
    
  }
  h3{
    padding: 7px;
    text-align:center;
    font-weight:bolder;
    font-size:5rem;
    margin: auto;
  }

  .boxx{
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
    padding: 5px;
    background-color: aliceblue;
    color: black;
   
}
.msg{
  box-sizing: border-box;
  margin-left: 30%;
  margin-right: 30%;
  
  padding: 5px;
  color:black;
  box-shadow: white;
  height:35px;
  background: white;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}