<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/header.css"/> 
    <link rel="stylesheet" href="static/css/reset.min.css" />
    <title>Document</title>
</head>
<body>
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
          <a href="/" class="brand">Adept</a>
          <nav class="nav">
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="/home">Home</a></li>
              <li class="nav__item"><a href="/log_out">Log-out</a></li>
              <li class="nav__item"><a href="#">About</a></li>
              
            </ul>
          </nav>
        </div>
    </header>
    <hr>
      {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
    
</body>
</html>