<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/att_down.css"/>
    
</head>
<title>Hello</title>
<body>
    {% extends "header.html" %}
    {% block content %}
    <div class='boxx'>
        View Attendance
    </div>
    <div class="login-box">
    <form action='/att' method="POST">
      <div class="user-box">
        <input type="text" name="empid" required="">
        <label>Enter Employee-ID</label>
      </div>
     <button>Search</button>
    </form>
  </div>
  {% for message in get_flashed_messages() %}
 
        <div class="msg">
          {{message}}
        </div>
          {% endfor %}
    {% endblock %}

</body>
</html>


    