<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/index.css"/> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head>
<body>
    {% extends "header.html" %}
    {% block content %}
     
  <div class="centerr">
    <h5>Biometric Attendance</h5>
    <h2>Robust and speedy</h2>
    <a href="\home"><button class="bn30">Get Started</button></a>

  </div>
      <script src="js/header-1.js"></script>
      {% endblock %}
</body>
</html>